*{
    margin:0px;
    padding: 0px;
}
.caption-text{
    color: white;
    padding: 200px;
    display: flex;
    justify-content: space-between;
    
}
.write-up{
    display: flex;
    justify-content: space-between;
    border:solid;
    padding: 20px;
}
.icon{
    border:solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:30px;
    margin:10px;
}
.detail{
    padding: 10px;
}
.holder{
    display: flex;
    justify-content: space-around;
    padding-left: 290px;
    padding-right: 290px;
}
img{
    border-radius: 100%;
}

.f10{
    font-size: 10px;
}
hr{
    margin: 20 nmpx;
}
span{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
p{
    display: flex;
    text-align: center;
    justify-content: center;
   
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right-arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-arrow{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    color: white;
    display: flex;
    justify-content: space-between;
    padding:30px;
    background:#0e0a0a;
}
ul{
    display: flex;
    }
li{
    margin-left:100px;
    font-size: 20px;
    list-style: none;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
li:hover{
    background: seagreen;
}
.caption{
    width:100%;
    height: 90%;
    background-image: url('fish.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
}